[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This is my repo
[access "refs/*"]
	owner = group user/Mani Kanta Pattem (PATTEMMANIKANTA)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Mani Kanta Pattem (PATTEMMANIKANTA)
	label-Verified = -1..+1 group user/Mani Kanta Pattem (PATTEMMANIKANTA)
	push = group user/Mani Kanta Pattem (PATTEMMANIKANTA)
	read = group user/Mani Kanta Pattem (PATTEMMANIKANTA)
	rebase = group user/Mani Kanta Pattem (PATTEMMANIKANTA)
	removeReviewer = group user/Mani Kanta Pattem (PATTEMMANIKANTA)
	submit = group user/Mani Kanta Pattem (PATTEMMANIKANTA)
[access "refs/heads/*"]
	create = group user/Mani Kanta Pattem (PATTEMMANIKANTA)
	push = +force group user/Mani Kanta Pattem (PATTEMMANIKANTA)
	pushMerge = group user/Mani Kanta Pattem (PATTEMMANIKANTA)
	read = group user/Mani Kanta Pattem (PATTEMMANIKANTA)
[access "refs/tags/*"]
	push = group user/Mani Kanta Pattem (PATTEMMANIKANTA)
	push = +force group user/Mani Kanta Pattem (PATTEMMANIKANTA)
